In [ ]:
# Load and activate the SQl extension to allow execution of SQL in a jupiter notebook.

%load_ext sql

In [ ]:
# Establish a connection to the local database using the command line.

%sql mysql+pymysql://root:donholy@localhost:3306/md_water_services

In [ ]:
%%sql

-- SELECTING THE EMPLOYEE TABLE

select * from employee limit 5;

In [ ]:
%%sql

-- CREATING EMPLOYEE EMAIL IN ALIAS

SELECT employee_name,
    CONCAT(LOWER(REPLACE(employee_name,' ', '.')), '@ndogowater.gov') as replaced_email
FROM employee;

In [ ]:
%%sql

-- UPDATE THE EMAIL COLUMN (USE 'SET_SQL_SAFE_UPDATE = 0' TO ENABLE UPDATE)

UPDATE employee
SET email = CONCAT(LOWER(REPLACE(employee_name,' ', '.')), '@ndogowater.gov');

In [ ]:

%%sql

-- CHECKING LENGTH OF PHONE NUMBER COLUMN

select length(phone_number) from employee;

In [ ]:
%%sql

-- TRIMMING WHITE SPACES IN PHONE NUMBER COLUMN

UPDATE employee
SET phone_number = trim(phone_number);

In [ ]:
%%sql

-- COUNTING THE NUMBER OF OCCURENCES OF EACH TOWN NAME

SELECT town_name,
    COUNT(town_name) as num_of_employees
FROM employee
GROUP BY town_name;

In [ ]:
%%sql

-- FINDING THE TOP 3 EMPLOYEES

select assigned_employee_id,
    count(visit_count) as number_of_visits
from visits
group by assigned_employee_id
order by number_of_visits desc
limit 3;

In [ ]:
%%sql

-- CHECKING THE EMPLOYEE IDS IN EMPLOYEE TABLE TO IDENTIFY THEIR NAME ETC

select employee_name, email, phone_number 
from employee 
where assigned_employee_id = 1 or assigned_employee_id = 30 or assigned_employee_id = 34;

In [ ]:
%%sql

-- Using a join to identify the top 3 employees with the most number of visits.
-- Instead of the two different querries above, you can use a single querry like this below. 

SELECT
    v.assigned_employee_id,
    employee_name,
    phone_number,
    email,
    COUNT(visit_count) as number_of_visits
FROM visits v
JOIN employee em
ON v.assigned_employee_id = em.assigned_employee_id
GROUP BY assigned_employee_id
ORDER BY number_of_visits DESC
LIMIT 3;

In [ ]:
%%sql

-- COUNTING THE NUMBER OF RECORDS FOR EACH TOWN

SELECT town_name,
    COUNT(town_name) AS num_of_rec
FROM location
GROUP BY town_name
ORDER BY num_of_rec DESC;

In [ ]:
%%sql

-- COUNTING THE NUMBER OF RECORDS FOR EACH PROVINCE

select province_name,
    count(province_name) as records_per_province
from location
group by province_name
order by records_per_province desc;

In [ ]:
%%sql

-- COUNTING RECORDS FOR EACH TOWN AND ORDERING BY PROVINCE 

select province_name, town_name,
    count(town_name) as records_per_town
from location
group by province_name, town_name
order by province_name, records_per_town desc;

In [ ]:
%%sql

-- COUNTING THE NUMBER OF RECORDS FOR EACH LOCATION TYPE

select location_type,
    count(location_type) as records_per_location
from location
group by location_type
order by records_per_location desc;

In [ ]:
%%sql

-- EXPRESSING AS A PERCENTAGE

SELECT
    location_type,
    COUNT(location_type) AS records_per_location,
    ROUND(COUNT(location_type) / (SELECT COUNT(location_type) FROM location) * 100) AS percentage
FROM location
GROUP BY location_type;

In [ ]:
%%sql

-- HOW MANY PEOPLE DID WE SURVEY IN TOTAL?

select sum(number_of_people_served) from water_source;

In [ ]:
%%sql

-- HOW MANY TYPES OF WATER SOURCE ARE THERE?

select type_of_water_source,
    count(type_of_water_source) as count_of_water_source
from water_source
group by type_of_water_source
order by count_of_water_source desc;

In [ ]:
%%sql

-- AVERAGE NUMBER OF PEOPLE SERVED BY EACH WATER SOURCE

select type_of_water_source,
    round(avg(number_of_people_served)) as average_per_type
from water_source
group by type_of_water_source
order by average_per_type desc;

In [ ]:
%%sql

-- CALCULATING TOTAL NUMBER OF PEOPLE SERVED BY EACH WATER SOURCE

select type_of_water_source,
    sum(number_of_people_served) as total_num_serv__per_type
from water_source
group by type_of_water_source
order by total_num_serv__per_type desc;

In [ ]:
%%sql

-- PERCENTAGE OF PEOPLE SERVED BY EACH WATER SOURCE

select type_of_water_source,
    sum(number_of_people_served) as total_num_serv__per_type,
   round((sum(number_of_people_served) * 100) / (select sum(number_of_people_served) from water_source)) as  percentage_served_per_source
from water_source
group by type_of_water_source
order by percentage_served_per_source desc;

In [ ]:
%%sql

-- RANK BASED ON TOTAL PEOPLE SERVED, GROUPED BY THEIR TYPES

select type_of_water_source,
    sum(number_of_people_served) as total_num_serv__per_type,
    rank() over (order by sum(number_of_people_served) desc) as ranked
from water_source
where type_of_water_source <> 'tap_in_home'
group by type_of_water_source
order by total_num_serv__per_type desc;

In [ ]:
%%sql

-- USING RANK() TO DETECT DETECT WHICH SOURCE_ID MUST BE FIXED FIRST

SELECT *,
    RANK() OVER (PARTITION BY type_of_water_source ORDER BY number_of_people_served DESC) AS rank_priority
FROM water_source
WHERE type_of_water_source <> "tap_in_home"
ORDER BY number_of_people_served DESC 
LIMIT 20;

In [ ]:
%%sql

-- USING DENSE_RANK()

select source_id, type_of_water_source, number_of_people_served,
dense_rank() over (partition by type_of_water_source order by number_of_people_served desc) as priority_rank
from water_source
where type_of_water_source <> 'tap_in_home'
order by number_of_people_served desc limit 20;

In [ ]:
%%sql

-- USING ROW_NUMBER()

select source_id, type_of_water_source, number_of_people_served,
row_number() over (partition by type_of_water_source order by number_of_people_served desc) as priority_rank
from water_source
where type_of_water_source <> 'tap_in_home'
order by number_of_people_served desc limit 20;

In [ ]:
%%sql

-- (QUESTION 1) HOW LONG DID THE SURVEY TAKE

select datediff(max(time_of_record),(min(time_of_record))) as date_diff from visits;

In [ ]:
%%sql

-- (QUESTION 2) WHAT IS THE AVERAGE TOTAL QUEUE TIME FOR WATER

select ROUND(AVG(NULLIF(time_in_queue, 0))) AS avg_time_in_queue
from visits;

In [ ]:
%%sql

-- (QUESTION 3) So let'S look at the queue times aggregated across the different days of the week.

select
    dayname(time_of_record) as day_of_the_week,
    round(avg(time_in_queue)) as avg_queue_time
from visits
WHERE time_in_queue <> 0
group by dayname(time_of_record);

In [ ]:
%%sql

-- (QUESTION 4) We can also look at what time during the day people collect water

select hour(time_of_record) as hour_of_record,
    round(avg(time_in_queue)) as avg_queue_time
from visits
where time_in_queue <> 0
group by hour(time_of_record)
order by avg_queue_time desc;

In [ ]:
%%sql

-- FORMATTING TIME TO H:MM

select TIME_FORMAT(TIME(time_of_record), '%H:00') as hour_of_record,
    round(avg(time_in_queue)) as avg_queue_time
from visits
where time_in_queue <> 0
group by TIME_FORMAT(TIME(time_of_record), '%H:00')
order by avg_queue_time desc;

In [ ]:
%%sql

-- CREATING A PIVOT TABLE TO BREAK DOWN QUEUE TIMES FOR EACH HOUR OF THE DAY

SELECT 
	TIME_FORMAT(TIME(time_of_record), '%H:00') AS hour_of_day,
    -- FOR SUNDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Sunday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Sunday,
        
	-- FOR MONDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Monday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Monday,
        
	-- FOR TUESDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Tuesday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Tuesday,
        
	-- FOR WEDNESDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Wednesday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Wednesday,
        
	-- FOR THURSDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Thursday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Thursday,
        
	-- FOR FRIDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Friday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Friday,
        
	-- SATURDAY
    ROUND(AVG(
		CASE
			WHEN DAYNAME(time_of_record) = 'Saturday' THEN time_in_queue
			ELSE NULL
		END 
		), 0) AS Saturday
FROM visits
WHERE time_in_queue != 0
GROUP BY hour_of_day
ORDER BY hour_of_day;