In [ ]:
# Load and activate the SQl extension to allow execution of SQL in a jupiter notebook.

%load_ext sql

In [ ]:
# Establish a connection to the local database using the command line.

%sql mysql+pymysql://root:Kiki511mysql711.@localhost:3306/md_water_services

In [ ]:
%%sql

-- List all the tables in the database 

SHOW TABLES;

In [ ]:
%%sql

-- Look at each table details..(Replace "employee" with other table name)

DESCRIBE employee;

In [ ]:
%%sql

-- Retrive the first 5 records from each table. (Replace "employee" with other table name)

SELECT * FROM data_dictionary LIMIT 5;

In [ ]:
%%sql

-- Query the water source table to find unique types of water sources.

SELECT DISTINCT(type_of_water_source) FROM water_source;

In [ ]:
%%sql

-- Query to find out water sources where time_in_queue is more than 500 min.

SELECT * FROM visits WHERE time_in_queue > 500;

In [ ]:
%%sql

-- Join the visits table to the water_source table to identify the type_of_water_source which have above 500 mins wait time

SELECT v.source_id,
    time_in_queue,
    number_of_people_served,
    type_of_water_source
FROM 
    visits V
JOIN water_source ws
ON v.source_id = ws.source_id
WHERE time_in_queue > 500;

In [ ]:
%%sql

-- Query to find out water sources where time_in_queue is 0.

SELECT * FROM visits WHERE time_in_queue = 0;

In [ ]:
%%sql

-- Join the visits table to the water_source table to identify the type_of_water_source which have no wait time.

SELECT v.source_id,
    time_in_queue,
    number_of_people_served,
    type_of_water_source
FROM 
    visits V
JOIN water_source ws
ON v.source_id = ws.source_id
WHERE time_in_queue = 0;

In [ ]:
%%sql

-- Query the water_quality table to retrive records where the quality score is 10 and the source was visited a 2nd time

SELECT *
FROM water_quality
WHERE subjective_quality_score = 10
AND visit_count = 2;

In [ ]:
%%sql

-- Query the first few records of the well pollution table

SELECT * FROM well_pollution LIMIT 10;

In [ ]:
%%sql

-- Query the well_pollution table to identify records where results is clean but biological is more than 0.01

SELECT *
FROM well_pollution
WHERE results = "clean" AND biological > 0.01;

In [ ]:
%%sql

-- Query the well polution table to search for the word clean with additional characters after it in description field

SELECT *
FROM well_pollution
WHERE description LIKE "clean_%";

In [ ]:
%%sql

-- Create a copy of the well_pollution table

CREATE TABLE md_water_services.well_pollution_copy
AS (SELECT * FROM md_water_services.well_pollution);

In [ ]:
%%sql

-- Replace "Clean Bacteria: E. coli" with "Bacteria: E. coli" in description field of the copy table

UPDATE
    well_pollution_copy
SET
    description = "Bacteria: E. coli"
WHERE
    description = "Clean Bacteria: E. coli";

In [ ]:
%%sql

-- Replace "Clean Bacteria: Giardia Lamblia" with "Bacteria: Giardia Lamblia" in description field of the copy table

UPDATE
    well_pollution_copy
SET
    description = "Bacteria: Giardia Lamblia"
WHERE
    description = "Clean Bacteria: Giardia Lamblia";

In [ ]:
%%sql

-- Change the results field to "Contaminated: Biological" for records where  biological > 0.01 AND results = "Clean" in the copy table

UPDATE
    well_pollution_copy
SET
    results = 'Contaminated: Biological'
WHERE
    biological > 0.01 AND results = 'Clean';

In [ ]:
%%sql

-- Delete the copy table after ensuring the update queries are error free

DROP TABLE
md_water_services.well_pollution_copy;

In [ ]:
%%sql

-- Replace "Clean Bacteria: E. coli" with "Bacteria: E. coli" in description field of the well_pollution table

UPDATE
    well_pollution
SET
    description = "Bacteria: E. coli"
WHERE
    description = "Clean Bacteria: E. coli";

In [ ]:
%%sql

-- Replace "Clean Bacteria: Giardia Lamblia" with "Bacteria: Giardia Lamblia" in description field of the well_pollution table

UPDATE
    well_pollution
SET
    description = "Bacteria: Giardia Lamblia"
WHERE
    description = "Clean Bacteria: Giardia Lamblia";

In [ ]:
%%sql

-- Change the results field to "Contaminated: Biological" for records where  biological > 0.01 AND results = "Clean" in the well-well_pollution table

UPDATE
    well_pollution
SET
    results = "Contaminated: Biological"
WHERE
    biological > 0.01 AND results = "Clean";